mat-toolbar{
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 1;
}
.navbar-spacer{
    flex: 1 1 auto;
}
.tabs a {
    margin-left: 1em;
}
label {
    font-size: medium;
}
.active-link {
    background-color: #C1C1C1;
}