form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.name, .email, .message {
    min-width: 400px; 
}
.mat-form-field.message textarea {
    height: 200px;
  }