mat-card{
    margin: 0.5em;
}
a {
    color: #000000;
    text-decoration: none;
}
mat-card-title {
    max-width: 160px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}