<h1>Alle Länder</h1>
<div *ngIf="countries">
            <div fxLayout="row wrap">
            <div *ngFor="let country of countries" >
                <mat-card style="width: 200px; height: auto;">
                    <a routerLink="/country-detail" [queryParams]="{ data: country.name.common }">
                    <mat-card-header>
                        <mat-card-title style="white-space: nowrap">
                                {{ country.name.common }}
                        </mat-card-title>
                    </mat-card-header>
                        <mat-card-content>
                            <img alt="logo" src="{{country.flags.png}}" width="auto" height="80px">    
                        </mat-card-content>
                    </a>
                </mat-card>
            </div>
        </div>
    </div>
