mat-card{
    margin: 0.5em;
    width: 350px; 
    height: auto;
}
a {
    color: #000000;
    text-decoration: none;
}
mat-card-title {
    overflow: hidden;
    text-overflow: ellipsis;
}
img {
    width: auto;
    height: 120px;
}